<div class="bg-primary-200 d-flex justify-center align-center py-24">
        <h3 class="h4 me-24">加入會員取得 9 折優惠</h3>
        <button type="button" class="bnt bnt-black">馬上註冊</button>
</div>


<footer class="container py-64 py-md-32">
    <nav class="d-flex d-md-block align-center justify-between mb-26 mb-md-24">
       <ul>
        <li><a href="index.html"><img src="/assets/images/logo.svg" alt="logo"></a></li>
       </ul>

        <ul class="d-flex d-md-block px-md-12">
            <li class="me-40 mb-md-4 py-md-12"><a href="product.html">商品列表</a></li>
            <li class="py-md-12"><a href="story.html">品牌故事</a></li>
        </ul>

    </nav>
    <div class="section-lined"></div>

    <div class="pt-32 d-flex flex-column align-center">
        <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
        <p>All Rights Reserved.</p>
    </div>

</footer>
