.bnt{
 padding: 12px 24px;
 border-radius: 4px;
 font-size:16px;
 line-height: 1.5;
 font-weight: 500;
 cursor: pointer;
 border: none;
 background-color: transparent;
}

@media(max-width:768px){
    .bnt{
        padding: 8px 16px;
    }
}


.bnt-black{
    background-color: $neutral-900;
    color: $neutral-0;
}

.bnt-white{
    border: 1px solid $neutral-900;
}

.bnt-cta{
    background-color: $primary-300;
    border-radius: 4;
}

@media (max-width:767px){
    .bnt-cta{
        padding: 12px 24px;
    }
}